deprecated/
tmp/
**/*.png
**/*.svg
**/*.pdf   
**/*.gzip 
**/*.zip 
**/*.pkl 
**/*.csv
**/*.txt
**/*.tsv
**/*.rar
**/*.gpickle
**/*.xls
**/*.xlsx
**/*.tar
**/*.gz
**/*.json
**/*.h5
**/*.hdf5
**/*.pt
**/*.pth
**/*.mat
**/*.gexf
**/*.gephi
**/*.parquet
**/*.GraphML
**/*.graphml